html, body {
	font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #444;
    font-size: 18px;
    min-width: 320px;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

img {
    max-width: 100%;
    height: auto;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.div-settings-option {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}


/*Header */

.div-user {
    display: inline-block;
    text-transform: none;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-weight:500;
    text-transform:uppercase;
    padding-top: 7%;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: var(--bs-navbar-brand-color);
}
.top-menu li a::after {
    content: '';
    display: block;
    width:100%;
    background-color:var(--bs-navbar-brand-color);
    height:1px;
    transition: all .3s;
    transform: scale(0);
}

.nav-my-settings {
    background-color:#4c7a4c;
    height: 10%;
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
    right:0;
    left:auto;
}

/*Header */

/*Training session*/
.form-container{
    display: flex;
    height: 90%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.form-control:focus {
  border-color: #3c6736 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(45, 89, 45, 0.6) !important;
}
.form-text-div{
    display:flex;
    justify-content: center;
}
.my-form-text{
    margin-top: 2%;
    color: #ffffff !important;
    text-decoration: none;
    font-size: 14px !important;
}
.my-form-text-ref{
    text-decoration: none;
    color: #ffffff !important;
    font-weight:bold;
}




.btn-default{
  color: #fff;
  text-decoration: none;
  background-color:#325932;
  border: none;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-right:6px;
  margin-top: 6px;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--bs-border-radius);
  white-space: nowrap;
  transition: all .5s;
}
.btn-default:hover {
  background-color:#203b20;
}



/* USERS */
h1 {
    text-align: center;
    color:white !important;

}
.form-users-container{
    display:flex;
    height:100%;
    align-items: center;
    justify-content: center;
    background: #689868;

}
.with-nav{
    height: 90% !important;
}

.form-users-css{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:15px;
    padding-top:10%;
    background-color:#4c7a4c;
    height:100%;
    min-width: 40%;
    max-width: 50%;
}
.form-padding-top{
    padding-top: 5% !important;
}
.form-users-inputs{
    display:flex;
    flex-direction: column;
    width: 100%;
}

.form-obj-set{
    margin-top: 15px;
}
.form-users-refs{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
}
.ref-users-left{
    min-width:40%;
    margin-right:5px;
}
.ref-users-right{
    min-width:40%;
    margin-left:5px;
}

.errorlist
    {
    color: white;
    padding-left: 10px;
    list-style-type: none;
    font-size: .875em;
    margin-bottom:10px;
    padding-top: 5px;
    }
.errorlist li {
    word-break: break-word;
}
.btn-to-change-pass{
    margin-top: 15px;
}
.ref-btn-users{
  width:100%;
  text-decoration: none;
  border-radius: 25px;
    transition: all .5s;
  height: 48px;
  padding-left: 10px;
  padding-right: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--bs-border-radius);
  white-space: nowrap;
}

.ref-animatic-btn-users{
  border: 2px solid #0a408f;
  color: #0a408f;
}
.ref-animatic-btn-users:hover {
   background-color: #0a408f;
   color: #fff;
}
.btn-users{
    margin-top: 15px;
}
.password-set{
    margin-top: 15px;
    display:flex;
    flex-direction: column;
}
.passwords{
    display:flex;
    justify-content: space-between
}
.passwords div{
    width: 45%;
}
.password-new{
    max-width: 95%;
    margin-right:10px;
}
.password-repeat{
    max-width: 96%;
    margin-left: 10px;
}

.email-input{
    flex-wrap: nowrap !important;
}
.email-input input{

}

.reset-text{
    font-weight:bold;
    font-family: 'Roboto', sans-serif;
    color:white;
}

.text{
    display:flex;
    margin-top: 30px;

}

.profile-set{
    display:flex;
    flex-direction:row;
    align-items: baseline;
    justify-content: flex-end;
    width:100%;
}
.inside-profile-container{
    display:flex;
    justify-content: flex-start;
        min-width: 90%;
}
.profile-set input{
    width:100%;
}
.profile-label{
    margin-right: 20px;
    text-align:center;
}
.ref-position-profile{
    display:flex;
}
.inside-password-change-container{
    display:flex;
    width: 100%;
}
.change-pass-errors ul {
    margin-bottom: 0;
}

.form-pass-change-done-padding{
    padding-top: 22%;
}
.form-email-reset{
    padding-top: 18%;
}
/* USERS */


/* Image */
.form-input-sel{
    width:100%;
}
.image-select-form{
    padding-top: 16%;
}
.image-obj-set{

}
.image-selection-btn{
    cursor: pointer;
}
.image-selection{
}
.images-set{
    display:flex;
    flex-direction:column;
    color: white;
}
input[type="file"] {
  display: none;
}
.error-label{
    border: 1px solid #73f563;
}
.result-container{
    height: auto;
}

.result-form{
    max-width: 90%;
    padding-top: 2%;
    display: flex;
    align-items: flex-start;
}

.result-image{
    margin-top:15px;
}



.image-input{
    color:white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}
.img-text{
    margin-bottom: 5px !important;
}
.count-text {
    font-size: 21px;
    font-weight: bold;
    color: white;
    margin-top: 2%;
}
/* Image */