{% extends 'base.html' %}

{% block content %}
<div class="form-users-container">
   <div class="form-users-css form-email-reset">
      <h1>Восстановление</h1>
      <form method="post" class="needs-validation form-users-inputs" novalidate>
         {% csrf_token %}
         <input type="hidden" name="next" value="{{ next }}"/>
         {% for f in form %}
             <div id="input-set-email" class="input-group has-validation email-input">
                {{f}}
             </div>
          <div class="form-error">
               {{f.errors}}
           </div>
         {% endfor %}
         <div class="form-error">{{ form.non_field_errors}}</div>
         <p><button id="reset-btn" class="btn-default btn-users" type="submit">Сбросить пароль</button></p>
          <div class="form-text-div">
              <p class="my-form-text"><a class="my-form-text-ref" href="{% url 'users:login' %}">Вернуться в окно входа</a></p>
          </div>
      </form>
   </div>
</div>


{% endblock %}