{% extends 'base.html' %}
{% block content %}



<div class="form-users-container with-nav">
    <div class="form-users-css  image-select-form">
        <h1>ГЛАВНОЕ МЕНЮ</h1>
        <form class="form-input-sel" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% for f in form %}
             <div class="form-obj-set image-obj-set">
                 <div class="image-input">
                     <label class="form-label btn-default image-selection-btn" for="{{f.id_for_label}}">{{f.label}}</label>
                     {{f}}
                     <div class="form-error">
                       {{f.errors}}
                    </div>
                 </div>
             </div>
             {% endfor %}
             <div class="form-error">{{ form.non_field_errors}}</div>
          <p><button type="submit" class="btn-default">Найти деревья</button> </p>
        </form>
    <div>

</div>
{% endblock %}